.menu {
    margin-top: 0;
    padding: 30px;
    background-color: #4F4F4F;
}

.list {
    float: left;
    list-style: none;
}

.a {
    padding: 25px;
    text-decoration: none;
    color: #ffff;
}